* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto', sans-serif !important;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-block {
    position: relative;
    overflow: hidden;
    max-height: 500px;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.image-block img:hover {
    transform: scale(1.2);
}

/* !Navbar */
.w3-top {
    position: sticky;
}

.w3-bar {
    background-color: rgba(39, 40, 41, 0.5);
    color: white;
    padding: 10px;
}

/* !Banner */
.home {
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-height: 640px;
    padding: 0 5rem;
    background-image: url("https://refun.com/static/media/background.0f3f5711b4f237dce8e5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* คำสั่งที่ช่วยให้สีของ Background Drop ลง */
    box-shadow: inset 0 0 0 2000px rgba(39, 40, 41, 0.5);
}

.home-text h2 {

    
    font-weight: bolder;
    margin-top: 70px;
    font-size: 65px;
    font-weight: bold;
    background: linear-gradient( 45deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke: 1px rgb(3, 3, 3); */

    animation: gradient 1.5s infinite;
    }

    @keyframes gradient {
    0% {
        background-position: 0% 70%;
    }
    100% {
        background-position: 70% 0%;
    }
    /* 50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 0%;
    } */
    
    
    
}

.home-text {
    color: #fff;
}

.p-img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    max-height: 215px;
}

.p-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in;
}

.p-img img:hover {
    transform: scale(1.1);
}

.grid-product__meta {
    position: relative;
    padding: 10px 0 6px 0;
    text-align: center;
    font-weight: 500;
}

.logo-img {
    display: block;
    object-fit: fill;
}

.block-logo {
    width: 80px;
    height: 80px;
}

.block-logo img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/*  !Quantity box  */
.wrapper {
    height: 35px;
    width: 80px;
    background-color: #c6c6c6;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.wrapper span {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper span.num {
    font-size: 18px;
    pointer-events: none;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

/* !Service Point */
.block-img-service {
    position: relative;
    display: block;
    object-fit: cover;
    overflow: hidden;
    text-align: right;
}

.block-img-service img {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

/* !Product Details IMG */
.p-detail-img {
    position: relative;
    display: block;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
}

.p-detail-img img {
    max-width: 595px;
    max-height: 595px;
    object-fit: cover;
    transition: all 0.5s ease-in;
}

.p-detail-img img:hover {
    transform: scale(1.1);
}

.img-s {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 150px;
    overflow: hidden;
}

.img-s img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in;
}

.img-s img:hover {
    transform: scale(1.3);
}

/* !Click Zoom */
.click-zoom input[type=checkbox] {
    display: none
}

.click-zoom img {
    /* margin: 50px; */
    transition: transform 0.25s ease;
    cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
    transform: scale(1.8);
    cursor: zoom-out
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* !CART */
.img-cart {
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
}

.img-cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* !LOADING */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.badge-status {
    font-size: 14px!important;
    font-weight: 300;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 50%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 3px;
    vertical-align: middle;
}

.badge-color-green {
    /* margin-top: 10px; */
    color: #fff;
    background-color: #2ecc71;
}

.badge-color-blue {
    margin-top: 10px;
    color: #fff;
    background-color: #3498db;
}

.badge-ready {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badgestatus-color-green {
    /* margin-top: 10px; */
    color: #fff;
    background-color: #2ecc71;
}

.badge-color-gray {
    /* margin-top: 10px; */
    color: #fff;
    background-color: #bdc3c7;
}